// ==== COLORS ====
$primaryColor: #00a976;
$secondaryColor: #32e3f0;
$fontColor: #c0f492;
$preFooterColor: #027e59;
$footerColor: #083d2d;
$first-color: rgb(32, 182, 117);
$first-color-light: rgb(152, 233, 179);
$white-color: #f7f6fb;
$text-grey: #8390a2;
$bg-grey: #f1f5f9;
