.settings {
    position: relative;
}

.settings__wrapper {
    padding: 50px 0 100px 0;
    background-color: #f5fffb;
}

.settings__form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}

.settings__search {
    background-color: white;
    flex: 0 1 400px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    color: rgb(100, 100, 100);
    border-radius: 5px;
    letter-spacing: 1px;
}
.settings__search-btn {
    padding: 10px 15px;
    color: white;
    align-self: stretch;
    background-color: var(--primaryColor);
}

.settings__tags {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tag {
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    background-color: rgb(230, 229, 229);
    border-radius: 5px;
    font-size: 0.8em;
    letter-spacing: 2px;
    color: rgb(110, 107, 107);
}

.tag::before {
    content: '#';
}
.events {
    position: relative;
}
.events__wrapper {
    padding: 25px 0 50px 0;
    background-color: #c7f9ccb7;
}

.events__title {
    padding: 25px 0;
    text-align: center;
}

.events__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.event {
    flex: 0 0 30%;
    margin-bottom: 25px;
    padding: 0 20px;
}

.event__image {
    object-fit: cover;
    max-height: 300px;
    overflow: hidden;
}

.event__image img {
    max-width: 100%;
}

.event__card {
    background-color: rgb(245, 245, 245);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.event__body {
    padding: 25px;
}

.event__title {
    font-family: "Balsamiq Sans", cursive;
    letter-spacing: 1px;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(58, 58, 58);
    margin-bottom: 5px;
    line-height: 1.2;
}

.event__description {
    color: rgb(100, 99, 99);
    font-size: 0.8em;
    margin-bottom: 10px;
    line-height: 1.2;
}

.event__button {
    background-color: var(--primaryColor);
    display: block;
    width: fit-content;
    padding: 10px 15px;
    font-size: 0.95em;
    color: white;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__button:not(:first-child) {
    margin-left: 20px;
}

.pagination__button {
    cursor: pointer;
    padding: 10px 12px;
    background-color: white;
    color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    transition: background-color .2s ease-out, color .2s ease;
}
.pagination__button.active {
    background-color: var(--primaryColor);
    color: white;
}
.pagination__button:hover {
    background-color: rgba(16, 192, 110, 0.712);
    color: white;
}

@media (max-width: 992px) {
    .event {
        flex: 0 1 45%;
    }
}

@media (max-width: 670px) {
    .event {
        flex: 1 1 auto;
    }
    .settings__tags {
        display: none;
    }
}

.custom-shape-divider-bottom-1612904660 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1612904660 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.custom-shape-divider-bottom-1612904660 .shape-fill {
    fill: #C7F9CCB7;
}

/* Pagination */
.pagination {
    padding-top: 25px;
}
.pagination .page-item:not(:first-child){
    margin-left: 15px;
}
.pagination .page-item .page-link {
    background-color: white;
    padding: 5px 10px;
    color: var(--primaryColor);

    border: 1px solid var(--primaryColor);
}

.pagination .page-item.active .page-link {
    color: white;
    background-color: var(--primaryColor);
}
.pagination .page-item.disabled .page-link {
    background-color: #ccc;
    color: rgb(143, 143, 143);
    border: 1px solid rgb(133, 133, 133);
}